a.btn-ecommerce-add {
    float: right;
    margin-top: -35px;
}

span.tag {
    background-color: #dedede;
    padding: 2px 5px;
    font-size: 80%;
    margin: 2px;
    border-radius: 3px;
}

div.f12-ec-items div.row {
    margin-left: -5px;
    margin-right: -5px;
}

div.f12-ec-items div.row div.col-md-4 {
    padding-right: 5px;
    padding-left: 5px;
}

div.f12-ec-item {
    margin-bottom: 10px;
}

a.f12-ec-item-info {
    background-color: #dedfd961;
    padding: 4px 6px;
    height: 60px;
    display: flex;
    align-items: center;
}

a.f12-ec-item-info:hover {
    text-decoration: none;
    color: black;
}

div.f12-ec-item-title {
    font-weight: 500;
    color: black;
}

div.f12-ec-item-price {
    flex: 1;
    text-align: right;
}

div.f12-ec-item-price price {
    display: block;
}

div.f12-ec-item-price price.discount {
    color: red;
    font-weight: 500;
}

div.f12-ec-item-price price.striked {
    text-decoration: line-through;
}

div.item-filter {
    background-color: #eee;
    margin: 0 0 10px 0;
    padding: 20px 20px 5px 20px;
}

div.item-filter div.item-filter-sliders, div.item-filter item-filter-checkboxes {
    clear: both;
}

div.item-filter div.f12-ecommerce-slider-block {

}

div.item-filter div.f12-ecommerce-slider-block label {
    display: block;
    text-align: center;
}

div.item-filter div.f12-ecommerce-checkbox-block {

}

tr.disabled {
    text-decoration: line-through;
    opacity: 0.2;
}

@media (min-width: 992px) {

    div.item-filter div.f12-ecommerce-checkbox-block {
        float: left;
        display: table;
        margin-right: 20px;
    }

    div.item-filter div.item-filter-sliders div.f12-ecommerce-slider-block {
        width: 48%;
        float: left;
    }

    div.item-filter div.item-filter-sliders div.f12-ecommerce-slider-block:nth-child(even) {
        margin-left: 2%;
    }

    div.item-filter div.item-filter-sliders div.f12-ecommerce-slider-block:nth-child(odd) {
        margin-right: 2%;
    }

    div.item-filter div.item-filter-sliders-wide div.f12-ecommerce-slider-block:nth-child(odd) {
        margin-left: 2%;
        margin-right: 0;
    }

    div.item-filter div.item-filter-sliders-wide div.f12-ecommerce-slider-block:nth-child(even) {
        margin-right: 2%;
        margin-left: 0;
    }

    div.item-filter div.item-filter-sliders-wide div.f12-ecommerce-slider-block:first-child {
        width: 100%;
        margin: 0;
    }

}