a.btn-ecommerce-add {
    float: right;
    margin-top: -35px;
}

span.tag {
    background-color: #dedede;
    padding: 2px 5px;
    font-size: 80%;
    margin: 2px;
    border-radius: 3px;
}

div.f12-ec-items div.row {
    margin-left: -5px;
    margin-right: -5px;
}

div.f12-ec-items div.row div.col-md-4 {
    padding-right: 5px;
    padding-left: 5px;
}

div.f12-ec-item {
    margin-bottom: 10px;
}

a.f12-ec-item-info {
    padding: 2px 3px;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 2px black solid;
}

a.f12-ec-item-info:hover {
    text-decoration: none;
    color: black;
}

div.f12-ec-item-title {
    color: black;
}

div.f12-ec-item-price {
    flex: 1;
    font-weight: 600;
    text-align: right;
}

div.f12-ec-item-price price {
    display: block;
}

div.f12-ec-item-price price.discount {
    color: #b20000;
    font-weight: 600;
}

div.f12-ec-item-price price.striked {
    text-decoration: line-through;
}

div.item-filter {
    background-color: #eee;
    margin: 0 0 10px 0;
    padding: 20px 20px 5px 20px;
}

div.item-filter div.item-filter-sliders, div.item-filter item-filter-checkboxes {
    clear: both;
}

div.item-filter div.f12-ecommerce-slider-block {

}

div.item-filter div.f12-ecommerce-slider-block label {
    display: block;
    text-align: center;
}

div.item-filter div.f12-ecommerce-checkbox-block {

}

tr.disabled {
    text-decoration: line-through;
    opacity: 0.2;
}

table.item-options {
    font-size: 90%;
}

table.item-options span,
table.table-cart span {
    min-width: 100px;
    display: block;
    float: left;
}

div.favorites-shadow-object,
div.cart-shadow-object {
    position: fixed;
    background-color: rgba(9, 48, 96, 0.21);
    z-index: 999;
}

a.fav {
    color: white;
    position: absolute;
    z-index: 10;
    font-size: 150%;
    margin: 3px;
}

.favorites-link span.counter {
    font-weight: 600;
}

.cart-link span.counter {
    font-weight: 600;
}

div.f12-ecommerce-address-section {
    display: none;
}

a.fav-active {
    color: black;
}

.model-body table.table-cart {
    margin-top: -15px;
}

div.param {
    border-bottom: 1px #ccc solid;
}

div.param:last-child {
    border: 0;
}

.table-cart > tbody > tr > td {
    vertical-align: middle;
}

td.cart-item-title {
    font-weight: 500;
}

div.cart-item-title-params {
    font-size: 90%;
    font-weight: 300;
}

p.f12-discount-info {
    float: left;
    background-color: white;
    padding: 10px 20px;
    margin: 0 10px 0 10px;
    color: #ef7d00;
    border: #ef7d00 2px solid;
    margin-bottom: 15px;
}

div.cart-total {
    font-weight: 500;
    font-size: 110%;
    float: right;
    margin: 0 12px 20px;
    text-align: right;
}

div.cart-total span {
    font-weight: 800;
}


table.table-cart input {
    max-width: 90px;
    display: inline;
    text-align: right;
}

@media (min-width: 992px) {

    div.item-filter div.f12-ecommerce-checkbox-block {
        float: left;
        display: table;
        margin-right: 20px;
    }

    div.item-filter div.item-filter-sliders div.f12-ecommerce-slider-block {
        width: 48%;
        float: left;
    }

    div.item-filter div.item-filter-sliders div.f12-ecommerce-slider-block:nth-child(even) {
        margin-left: 2%;
    }

    div.item-filter div.item-filter-sliders div.f12-ecommerce-slider-block:nth-child(odd) {
        margin-right: 2%;
    }

    div.item-filter div.item-filter-sliders-wide div.f12-ecommerce-slider-block:nth-child(odd) {
        margin-left: 2%;
        margin-right: 0;
    }

    div.item-filter div.item-filter-sliders-wide div.f12-ecommerce-slider-block:nth-child(even) {
        margin-right: 2%;
        margin-left: 0;
    }

    div.item-filter div.item-filter-sliders-wide div.f12-ecommerce-slider-block:first-child {
        width: 100%;
        margin: 0;
    }

}

.treegrid-expander {
    margin: 3px 4px 0 0;
    display: block;
    float: left;
}

a.proceed-to-checkout {
    float: right;
}

a.proceed-to-checkout-hidden {
    display: none;
}

#f12-delivery-cost {
    font-size: 120%;
    font-weight: 500;
}

tr.f12-ec-item-na {
    opacity: 0.6;
}

div.f12-ec-item-na {
    float: right;
    color: red;
    color: #b20000;
    font-weight: 600;
    border: 2px #b20000 solid;
    padding: 2px 10px;
    font-size: 70%;
}


.f12-grey-block {
    padding: 10px;
    background-color: #eee;
    border: 1px #ccc solid;
    margin-bottom: 15px;
}